@media(max-width: 1400px) {}

@media(max-width: 1200px) {

    .products {
        column-gap: 20px;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }


}




@media(max-width: 1024px) {}

@media(max-width: 992px) {

    .nav__toggler {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .nav .container {
        padding: 15px 20px;
    }

    .bar {
        display: inline-block;
        width: 40px;
        height: 3px;
        background-color: #fff;
    }

    .header {
        min-height: 350px;
    }


    .list {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 50%;
        min-height: 50vh;
        background-color: #322E41;
        top: 60px;
        left: 0;
        transform: translateX(-100%);
        transition: 0.4s;
    }

    input:checked~nav .list {
        transform: translateX(0%);
    }

    .footer_container {
        column-gap: 20px;
        row-gap: 30px;
        justify-content: space-evenly;
    }



}

@media(max-width: 768px) {}

@media(max-width: 576px) {

    .products_card {
        max-width: 540px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 14px;
    }

    .products_image {
        min-height: 0;
    }
}

@media(max-width: 480px) {}

@media(max-width: 320px) {}




#toggle {
    display: none;
}